<!--<div class="row header">
  <div class="col s3 l4">
    <h1>Voiveover Bank</h1>
    <a [routerLink]=""><img class="logo-img" src="img/logo-combined.svg" alt="Alat Logo"></a>
  </div>
  <div class="col s9 l8">
    <ul class="alat-menu">
      <li><a routerLink="/">home</a></li>
      <li><a routerLink="/">home</a></li>
      <li><a routerLink="/">home</a></li>
      <li><a routerLink="/">home</a></li>
    </ul>
  </div>
</div>-->

<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Voice Over Bank</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">JavaScript</a></li>
    </ul>
  </div>
</nav>
