<div class="">

  <nav class="container">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">
        <img src="../assets/img/voblogo.png" alt="Voice Over Bank Logo">
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Who We Are</a></li>
        <li><a href="#">Voice Talents</a></li>
        <li><a href="#">E-Studio</a></li>
        <li><a href="#" class="btn join-us">Join Us</a></li>
      </ul>
      <a href="#" class="button-collapse top-nav full hide-on-large-only right" data-activates="nav-mobile" (click)="initializeSideNav()">
        <i class="material-icons">menu</i>
      </a>
    </div>
  </nav>



  <router-outlet></router-outlet>

</div>
