<div class="home">
  <vob-header></vob-header>
  <vob-slider></vob-slider>
  <vob-voice-overs></vob-voice-overs>
  <footer>
    <div class="row">
      <div class="col s12 m4">
        <h5>about us</h5>
        <p>The voice over bank is the one stop shop for audition
          and booking of voice over talents in Africa for various voice
          included projects and jobs primarily in Nigeria and Africa. <br/><br/>
          We are in existence for easy and direct access to a voice over talents
          primarily in Nigerian languages and other African lingua.<br/><br/>
          Our solutions are fast and reliable especially our with our
          E-studio that churns out voice over briefs in real time.
          Finally, we also serve as agents to the talents always having
          their best interest at heart.
        </p>
      </div>
      <div class="col s12 m4">
        <h5>site links</h5>
        <ul class="site-links">
          <li><a href="#">Home</a></li>
          <li><a href="#">Who We Are</a></li>
          <li><a href="#">Voice Talents</a></li>
          <li><a href="#">E-Studio</a></li>
          <li><a href="#" class="join-us">Join Us</a></li>
        </ul>
      </div>
      <div class="col s12 m4 contact">
        <h5>contact us</h5>
        <p><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:hello@voiceoverbank.com.ng">hello@voiceoverbank.com.ng</a></p>
        <p><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:+23480123456789">0801 2345 6789</a></p>
        <p><i class="fa fa-map-marker" aria-hidden="true"></i>5, ilupeju street, Lagos</p>
        <h5>Follow us</h5>
        <ul class="socials">
          <li><a href="#" target="_blank"><i class="fa fa-2x fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="#" target="_blank"><i class="fa fa-2x fa-facebook-square" aria-hidden="true"></i></a></li>
          <li><a href="#" target="_blank"><i class="fa fa-2x fa-twitter-square" aria-hidden="true"></i></a></li>
        </ul>
        <a href="#" target="_blank" class="btn join-voa">join our voice over academy</a>
      </div>
    </div>
  </footer>
  <div class="copyright">
    <p> &copy; Copyright 2016 - {{currentYear}}. &nbsp; Voiceoverbank. &nbsp; All Rights Reserved. </p>
  </div>
</div>
